p{
    display: flex;
    align-items: center;
    color: aqua;
    background-color: firebrick;
    border-radius: 5px;
    border: 20px cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    display: flex;

    align-items: center;
    
}

h1{
    display: flex;
    align-items: center;
    background-color: rgb(65, 160, 6);
    color: aqua;
    padding: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    background-color: aquamarine;
    font-size: 24px;
}

.container{
    display: flex;
    align-items: center;
    color: aquamarine;
}